{{!--
This footer template is shared across all the pages.
--}}



<footer class="m-footer">
  <div class="m-footer__content">
    
  
     <p class="m-footer-credits">
      <span>{{{t "Ihr alle gebt meinem Leben einen Sinn."}}}</span>
    <p class="m-footer-credits">
      <span>{{t "For Emma❤️"}} <span>&nbsp; &bull; &nbsp;</span>{{t "For Dad"}} 
    

    </p>
    <span>{{t "For Mr and Mrs Jaschniski"}} </span>
    <p class="m-footer-copyright">
      <span>{{@site.title}} &copy; {{date format="YYYY"}}</span>
      <span>&nbsp; &bull; &nbsp;</span>
      <span>{{t "Published with"}} <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></span>
    </p>
    <nav class="m-footer-social">
      <a href="https://www.linkedin.com/in/anish-jain-1b403021a" target="_blank" rel="noopener" aria-label="LinkedIn">
        <span class="icon-linkedin" aria-hidden="true"></span>
      </a>
      <a href="https://github.com/masterjain" target="_blank" rel="noopener" aria-label="Github">
        <span class="icon-github" aria-hidden="true"></span>
      </a>
     
      {{#if @site.twitter}}
        <a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener" aria-label="Twitter">
          <span class="icon-twitter" aria-hidden="true"></span>
        </a>
      {{/if}}
      <a href="https://instagram.com/anishjain108" aria-label="RSS">
        <span class="icon-instagram" aria-hidden="true"></span>
      </a>
      
    </nav>
    <p class="m-footer-copyright jslicense">
      <a href="{{asset "html/javascript.html"}}" rel="jslicense">{{t "JavaScript license information"}}</a>
    </p>

      
  </div>
</footer>
